/*
    Author: Awesome Four
    Date:   4/25/2019
    File:   styles.css

    SKCAC  css style file.
*/

html {
    width: 100%;
    text-decoration: none;
    margin: 0;
}

body {
    margin: 0;
    width: 100%;
}

#navHeader {
    background: lightgrey;
}

div.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 10px;
}

#main {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 2%;
    border: 1px solid lightgrey;
}

#note {
    border: 1px solid lightgrey;
    margin: 5%;
    background: lightgrey;
    padding: 2%;
}

#infoTable {
    border: 1px solid lightgrey;
    border-radius: 10%;
}