<!--
    Author: Awesome Four (Adolfo, Alec, Bo, Keith)
    Date:   4/25/2019
    File: info.html

    Personal Info page.
-->
<!DOCTYPE HTML>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!--Bootstrap CSS-->
		<link rel="stylesheet"
				href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
				integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
				crossorigin="anonymous">
		<!--CSS Styles-->
		<link href="styles.css" rel="stylesheet">
		<title>SKCAC</title>
	</head>
	<!--Personal Info-->
	<div class="container border rounded" id="main">
		<form action="" method="post" class="form-horizontal">
			<div class="row">
				<div class="col-md-12  text-left">
					<br>
					<h3>Client Information</h3>
					<hr>
					<label class="font-weight-bold">First Name:</label>
					<br>
					<input type="text" name="first" id="first" class="form-control"
							placeholder="first name">
					<br>
					<label class="font-weight-bold">Last Name:</label>
					<br>
					<input type="text" name="last" id="last" class="form-control"
							placeholder="last name">
					<br>
					<label class="font-weight-bold">Phone Number</label>
					<br>
					<input type="tel" name="phone" id="phone" class="form-control"
							placeholder="primary phone number">
					<br>
					<label class="font-weight-bold">SKCAC Counselor</label>
					<br>
					<input type="text" id="counselor" class="form-control"
							placeholder="counselor name">
					<br>
					<hr>
					<h3>Legal Guardian Information</h3>
					<hr>
					<label class="font-weight-bold">First Name:</label>
					<br>
					<input type="text" id="guardianfirst" class="form-control"
							placeholder="guardian first name">
					<br>
					<label class="font-weight-bold">Last Name:</label>
					<br>
					<input type="text" id="guardinlast" class="form-control"
							placeholder="guardian last name">
					<br>
					<label class="font-weight-bold">Phone Number</label>
					<br>
					<input type="tel" id="guardianphone" class="form-control"
							placeholder="primary phone number">
					<br>
					<label class="font-weight-bold">Relationship</label>
					<br>
					<input type="text" id="relationship" class="form-control"
							placeholder="relationship to client">
					<br>
					<hr>
					<h3>Form Checklist</h3>
					<hr>
					<div class="form-check-inline">
						<input type="checkbox">
						2019 IE Resource Letter
						<br>
						<input type="checkbox">
						Grievance Procedures
						<br>
						<input type="checkbox">
						Handbook Assessment and Placement
						<br>
						<input type="checkbox">
						Medical and Emergency Information
						<br>
						<input type="checkbox">
						Notice of Rights
						<br>
						<input type="checkbox">
						Photo Release
						<br>
						<input type="checkbox">
						Release DDA
						<br>
						<input type="checkbox">
						Release DVR
						<br>
						<input type="checkbox">
						Title II and SSI Statement of Acknowledgement
						<br>
					</div>
					<hr>
					
					<!--Button-->
					<button type="submit" class="btn btn-primary btn-lg align-text-bottom">Submit
					</button>
				</div>
			</div>
		</form>
	</div>
	<!--Bootstrap https://v4-alpha.getbootstrap.com/-->
	<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
			integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
			crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
			integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
			crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
			integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
			crossorigin="anonymous"></script>
	</body>
</html>