<ul class="nav nav-tabs">
    <li class="nav-item">
        <a href="#home" class="nav-link active" data-toggle="tab">Home</a>
    </li>
    <li class="nav-item">
        <a href="#rights" class="nav-link" data-toggle="tab">Notice of Rights</a>
    </li>
    <li class="nav-item">
        <a href="#release" class="nav-link" data-toggle="tab">
            Release of Information
        </a>
    </li>
    <li class="nav-item">
        <a href="#photo" class="nav-link" data-toggle="tab">
            Photo Release
        </a>
    </li>
    <li class="nav-item">
        <a href="#appeal" class="nav-link" data-toggle="tab">
            Appeal Grievance Procedures
        </a>
    </li>
    <li class="nav-item">
        <a href="#ssi" class="nav-link" data-toggle="tab">
            Title II/Medicare and SSI/Medicaid
        </a>
    </li>
</ul>