<ul class="nav nav-tabs">
    <li class="nav-item">
        <a href="#home" class="nav-link active" data-toggle="tab">Home</a>
    </li>
    <li class="nav-item">
        <button class="nav-link" id="rightsTab" data-toggle="tab" data-target="#rights">Notice of Rights</button>
    </li>
    <li class="nav-item">
        <button class="nav-link" id='releaseTab' data-toggle="tab"
                data-target="#release">
            Release of Information
        </button>
    </li>
    <li class="nav-item">
        <button class="nav-link" id="photoTab" data-toggle="tab" data-target="#photo">
            Photo Release
        </button>
    </li>
    <li class="nav-item">
        <button class="nav-link" id="appealTab" data-toggle="tab" data-target="#appeal">
            Appeal Grievance Procedures
        </button>
    </li>
    <li class="nav-item">
        <button class="nav-link" id="ssiTab" data-toggle="tab" data-target="#ssi">
            Medicare & Medicaid
        </button>
    </li>
    <li class="nav-item">
        <button class="nav-link" type="submit">Submit!</button>
    </li>
</ul>