<p>
    As a participant of services provided by SKCAC Industries and Employment Services, you have the right to:
    <br>
    - Respectful staff-to-participant interactions;
    <br>
    - Be treated with dignity and respect;
    <br>
    - Be free from any kind of abuse or punishment including neglect, financial exploitation, abandonment, humiliation, retaliation, verbal, mental, physical and/or sexual abuse;
    <br>
    - Be free from discrimination and harassment on the basis of race, color, national origin, gender, age, religion, creed, marital status, disability, sexual orientation, or the presence of any physical, mental or sensory disability;
    <br>
    - Be compensated for work at prevailing wages and commensurate with abilities;
    <br>
    - Be free from invasion of privacy;
    <br>
    - Have information about you treated confidentially;
    <br>
    - Actively participate in the development/modification of your service program;
    <br>
    - Select your own vocational goals and have final approval on all plans SKCAC helps you with or makes for you;
    <br>
    - Be provided services in your best interest and related to your needs;
    <br>
    - Review your service records, have access to and release of your personal records, as requested;
    <br>
    - Be fully informed regarding fees to be charged and methods for payment;
    <br>
    - Be provided with rules and regulation governing conduct and responsibilities of SKCAC participants and employees;
    <br>
    - Register complaints and recommendations without interference, reprisal or retaliation;
    <br>
    - An appeal/grievance process if you disagree with a SKCAC decision and that the action will not result in retaliation or barriers to services;
    <br>
    - Involve others in the planning process (spouse, parents, guardian, advocates, etc.);
    <br>
    - Informed consent about service delivery, release of information, composition of service delivery team, and involvement in research projects;
    <br>
    - Informed right of refusal, when consent is required, with explanation of risks and adverse consequences of the refusal;
    <br>
    - Access to self help and advocacy services;
    <br>
    - Access or referral to legal entities for appropriate representation, if needed;
    <br>
    - Investigation and resolution of alleged infringement of rights.
    <br>
    This information has been reviewed with me and I understand my rights as a participant of services provided by SKCAC Industries and Employment Services

</p>
<br>
<input type="checkbox" id="participantSig">
Program Participant Acknowledgement
<br>
<input type="checkbox" id="guardianSig">
Guardian (if under legal guardianship) Acknowledgement
