<h3 class="mt-2">Photo Release</h3>
<p>I, _________________________________, hereby give my permission for SKCAC Industries and Employment Services to use my photograph for the specified use below:
    <br>
    as part of materials promoting supported employment to potential employers and at community events which focus on supported employment.
    <br>
    I have been informed that the photograph will be used for the purpose stated, and is restricted to said use.
    <br>
    This release is considered active and valid for a 12-month period, from the date of signature.
</p>
<br>
<input type="checkbox">
Program Participant Acknowledgement
<br>
<input type="checkbox">
Guardian (if under legal guardianship) Acknowledgement