<!--
    Author: Awesome Four (Adolfo, Alec, Bo, Keith)
    Date:   4/25/2019
    File: release_of_information.html

    Personal Info page.
-->
<!DOCTYPE HTML>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!--Bootstrap CSS-->
		<link rel="stylesheet"
				href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
				integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
				crossorigin="anonymous">
		<!--CSS Styles-->
		<link href="../../../../AppData/Local/Packages/microsoft.windowscommunicationsapps_8wekyb3d8bbwe/LocalState/Files/S0/1546/Attachments/SKCAC%5B1819%5D/SKCAC/styles.css" rel="stylesheet">
		<title>SKCAC</title>
	</head>
	<body>
	<!--Personal Info-->
	<div class="container border rounded" id="main">
		<form action="" method="post" class="form-horizontal">
			<div class="row">
				<div class="col-md-12  text-left">
					<br>
					<h3>Release of Information</h3>
					<hr>
					<label class="font-weight-bold">I, </label>

					<input type="text" name="name" id="name" class="form-control"
							placeholder="Full name">
					<br>
					<p>hereby give my permission for SKCAC Industries and Employment Services
						to exchange necessary information regarding my employment and
						program services with the agencies and/or individuals indicated
						below:</p>

					<label class="font-weight-bold">Referring Agency</label>
					<br>
					<select name="agency" id="referring" class="form-control">
                        <option value="dshs" default="default">Developmental Disabilities Administration, DSHS</option>
                        <option value="dvr">Division of Vocational Rehabilitation (DVR)</option>
					</select>
					<br>
					<label class="font-weight-bold">Residential Provider</label>
					<br>
					<input type="text" id="provider" class="form-control"
							placeholder="Residential Provider">
					<br>
					
					<label class="font-weight-bold">Guardian Name:</label>
					<br>
					<input type="text" id="guardian" class="form-control"
							placeholder="guardian name">
					<br>

					<label class="font-weight-bold">Parent/Relative</label>
					<br>
					<input type="text" id="parent" class="form-control"
							placeholder="parent/relative">
					<br>
					<label class="font-weight-bold">Funding Agency</label>
					<br>
					<select name="agency" id="funding" class="form-control">
                        <option>King County, Developmental Disabilities Section</option>
                        <option>Division of Vocational Rehabilitation (DVR)</option>
                    </select>
					<br>
                    <label class="font-weight-bold">Employer/Volunteer site</label>
                    <br>
                    <input type="text" id="employer" class="form-control"
                           placeholder="employer">
                    <br>
                    <label class="font-weight-bold">Other</label>
                    <br>
                    <input type="text" id="other" class="form-control"
                           placeholder="other">
                    <p>The information may be released via mail, phone, personal interview, fax or other means of communication.
                        <br>
                        I have been informed that information about me is confidential and restricted for employment and program services purposes only.
                        <br>
                        This release/exchange of information release is active and valid for a 12-month period, from date of signature.
                    </p>
					<hr>

					<hr>
					<div class="form-check-inline">
						<input type="checkbox" id="participantSig">
						Program Participant Acknowledgement
                        <br>
                        <input type="checkbox" id="guardianSig">
                        Guardian (if under legal guardianship) Acknowledgement

					</div>
					<hr>
					
					<!--Button-->
					<button type="submit" class="btn btn-primary btn-lg align-text-bottom">Submit
					</button>
				</div>
			</div>
		</form>
	</div>
	<!--Bootstrap https://v4-alpha.getbootstrap.com/-->
	<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
			integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
			crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
			integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
			crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
			integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
			crossorigin="anonymous"></script>
	</body>
</html>