<h3 class="mt-2">Release of Information</h3>
<p>I, ________________________________, hereby give my permission for SKCAC
    Industries and Employment Services to
    exchange necessary information regarding my employment and program services
    with the agencies and/or individuals indicated below:
</p>
<label class="font-weight-bold">Referring Agency</label>
<br>
<select name="agency" id="referring" class="form-control">
    <option value="dshs"
            default="default">Developmental Disabilities Administration, DSHS
    </option>
    <option value="dvr">Division of Vocational Rehabilitation (DVR)</option>
</select>
<br>
<label class="font-weight-bold">Residential Provider</label>
<br>
<input type="text" id="provider" class="form-control"
       placeholder="Residential Provider">
<br>
<label class="font-weight-bold">Funding Agency</label>
<br>
<select name="agency" id="funding" class="form-control">
    <option>King County, Developmental Disabilities Section</option>
    <option>Division of Vocational Rehabilitation (DVR)</option>
</select>
<br>
<label class="font-weight-bold">Employer/Volunteer site</label>
<br>
<input type="text" id="employer" class="form-control"
       placeholder="employer">
<br>
<label class="font-weight-bold">Other</label>
<br>
<input type="text" id="other" class="form-control"
       placeholder="other">
<br>
<p>The information may be released via mail, phone, personal interview, fax or other means of communication.
    <br>
    I have been informed that information about me is confidential and restricted for employment and program services purposes only.
    <br>
    This release/exchange of information release is active and valid for a 12-month period, from date of signature.
</p>
<br>
<input type="checkbox">
Program Participant Acknowledgement
<br>
<input type="checkbox">
Guardian (if under legal guardianship) Acknowledgement