<h3 class="mt-2"> Title II/Medicare and SSI/Medicaid</h3>
<p>I hereby acknowledge that I have received information to find Title II Benefits: SSDI (Disability Insurance),
    CDB (Childhood Disability Benefits) and Medicare 2018 and Supplemental Security Income and Medicaid 2018
    at www.ssa.gov. I understand that while the Employment Support Agency (SKCAC) may offer basic assistance or
    information regarding my benefits, the Agency is not responsible for managing my Title II and Medicare or Supplemental
    Security Income and Medicaid benefits.
</p>

<label>SSDI Amount
    <input type="text" id="amount1">
</label>
<label>SSI Amount
    <input type="text" id="amount2">
</label>